$base-black-color: #000000;
$base-white-color: #FFFFFF;
$base-westar-color: #DBDBD2;

$base-rouge-color: #DA291C;

$base-nero-color: #262626;
$base-mine-color: #333333;
$base-emperor-color: #505050;
$base-mortar-color: #555555;
$base-dove-color: #666666;
$base-dim-color: #707070;
$base-gray-color: #888888;
$base-shady-lady-color: #969696;
$base-dusty-color: #999999;
$base-chalice-color: #ADADAD;
$base-light-grey-color: #C7C7C7;
$base-silver-color: #CCCCCC;
$base-alto-color: #D9D9D9;
$base-cool-gray-color: #E6E6E6;
$base-concrete-color: #F2F2F2;
$base-gallery-color: #F0F0F0;
$base-albaster-color: #F8F8F8;

$base-energy-color: #FAE053;
$base-fern-color: #78BD70;
$base-asparagus-color: #6E8F50;
$base-green-pea-color: #2D6322;
$base-spindle-color: #ABCAE9;
$base-polo-color: #90A9CD;
$base-hippie-blue-color: #6194AC;
$base-cool-blue-color: #6295AC;
$base-horizon-color: #6693AC;
$base-catskill-color: #E8EFF3;
$base-orient-color: #005587;
$base-deep-sapphire-color: #0D3D79;
$base-alizarin-crimson-color: #E42C1A;
$base-peep-color: #F4CDD4;
$base-froly-color: #F17F71;
$base-dark-tan-color: #790D0D;

$base-primary-color: $base-rouge-color;

$color-map: (
	primary: $base-primary-color,
	white: $base-white-color,
);

$section-bg-color-map: (
	white: $base-white-color,
	gallery: $base-gallery-color,
	overlay: rgba($base-mine-color, 0.4),
);

$section-text-color-map: (
	dark: $base-mine-color,
	primary: $base-primary-color,
);

// Defaults
$base-text-color: $base-mine-color;
$base-bg-color: $base-white-color;

// Text color helper
$color-map: (
	primary: $base-primary-color,
	white: $base-white-color,
);

// Buttons
$button-color-map: (
	default: (
		bg: $base-primary-color,
		text: $base-white-color,
		border: $base-primary-color,
		bg-hover: transparent,
		text-hover: $base-primary-color,
		border-hover: $base-primary-color
	),
);

$links-map: (
	default: (
		color: $base-primary-color,
		hover: $base-mine-color
	),
	black-primary: (
		color: $base-black-color,
		hover: $base-primary-color
	),
	dusty-primary: (
		color: $base-dusty-color,
		hover: $base-primary-color
	),
	white-primary: (
		color: $base-white-color,
		hover: $base-primary-color
	),
	westar-primary: (
		color: $base-westar-color,
		hover: $base-primary-color
	)
);
