$base-black-color: #000000;
$base-white-color: #FFFFFF;
$base-silver-color: #E2E4E7;
$base-dove-color: #F3F4F5;

$base-rouge-color: #DA291C;
$base-fern-color: #78BD70;
$base-deep-sapphire-color: #0D3D79;
