// Navigate nested maps like
// map-deep-get($hero-size-map, default, mobile);
@function map-deep-get($map, $keys...) {
	$value: $map;
	@each $key in $keys {
		$value: map-get($value, $key);
	}
	@return $value;
}
// Unicode quote function.
@function unicode($str) {
	@return unquote('\"') + $str + unquote('\"');
}

// Map get that complains when you try to get an undefined key
@function map-get-strict($map, $key) {
	@if map-has-key($map, $key) {
		@return map-get($map, $key);
	}
	@else {
		@error 'ERROR: Specified index `#{$key}` does not exist in the mapping';
	}

}
// Get from nested array.
@function map-get-deep($map, $keys...) {
	$value: $map;
	@each $key in $keys {
		@if map-has-key($value, $key) {
			$value: map-get($value, $key);
		}
		@else {
			@error 'ERROR: Specified index does not exist in map #{$map}, with value: #{$key}';
		}
	}
	@return $value;
}
// Throw error if not found.
@function map-get-strict($map, $key) {
	@if map-has-key($map, $key) {
		@return map-get($map, $key);
	}
	@else {
		@error 'ERROR: Specified index does not exist in map #{$map}, with value: #{$key}';
	}

}
