{
	"extends": "stylelint-config-wordpress",
	"rules": {
		"color-hex-length": "long",
		"color-hex-case": "upper",
		"at-rule-no-unknown": null,
		"at-rule-empty-line-before": "never",
    	"indentation": "tab",
    	"number-leading-zero": null,
		"string-quotes": "single"
  	},
	"ignoreFiles": "assets/public/**/*.css"
}
