includes:
    - vendor/phpstan/phpstan/conf/bleedingEdge.neon
    - vendor/szepeviktor/phpstan-wordpress/extension.neon
parameters:
    level: max
    inferPrivatePropertyTypeFromConstructor: true
    checkMissingIterableValueType: false
    bootstrapFiles:
        - tests/phpstan/constants.php
    dynamicConstantNames:
        - ASSETS_MANIFEST
    scanFiles:
        - vendor/php-stubs/woocommerce-stubs/woocommerce-stubs.php
        # wc_admin_connect_page() comes from woocommerce-admin package
        - vendor/php-stubs/woocommerce-stubs/woocommerce-packages-stubs.php
    paths:
        - src/
    excludes_analyse:
        - src/Core/CompiledContainer.php
