/* stylelint-disable declaration-colon-newline-after */
$options-page: (
	background-color: $base-white-color,
	border-color: $base-silver-color,
);

.options-wrapper {
	background: map-get-strict($options-page, 'background-color');
	border-bottom: 1px solid map-get-strict($options-page, 'border-color');
	border-left: 1px solid map-get-strict($options-page, 'border-color');
	border-right: 1px solid map-get-strict($options-page, 'border-color');
	padding-bottom: 20px;

	&__item {
		margin: 20px 20px 0;
	}

	&.is-loading {
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 20px;
	}
}
