$components: (
	'error-color': $base-rouge-color,
);

.components-base-control {
	&__field {
		margin-bottom: 20px !important;
	}

	&__label {
		font-weight: 600 !important;
	}

	&__error {
		color: map-get-strict($components, 'error-color');
	}

	&__subtitle {
		font-size: 1.2em;
	}

	&__notice {
		word-break: break-word;
		max-width: 50%;
	}

	&__checkboxes {
		margin-bottom: 0 !important;
	}

	&__textarea {
		width: 39em;

		textarea {
			max-width: 36em;
		}
	}

	&__input {
		input {
			padding: 6px 8px;
			max-width: 36em;
		}
	}

	&__code {
		margin-bottom: 20px;

		code {
			min-width: 50em;
			display: block;
			padding: 20px;
		}
	}

	&.has-error {
		border-color: map-get-strict($components, 'error-color');
	}
}
