$components: (
	'error-color': $base-rouge-color,
);

.components-base-control {

	&__field {
		margin-bottom: 1.25rem !important;
	}

	&__label {
		font-weight: 600 !important;
		display: block !important;
	}

	&__error {
		color: var(--woo-rouge-color);
		font-weight: 600;
	}

	&__subtitle {
		font-size: 1.2rem;
	}

	&__notice {
		word-break: break-word;
		max-width: 50%;
	}

	&__information {
		margin: 0 0 0.5rem 0;
	}

	&__checkboxes {
		margin-bottom: 0 !important;
	}

	&__textarea {
		width: 39rem;

		textarea {
			max-width: 36rem;
		}
	}

	&__input {

		input {
			padding: 0.375rem 0.5rem;
			max-width: 36em;
		}
	}

	&__code {
		margin-bottom: 1.25rem;

		code {
			width: 50rem;
			max-height: 30rem;
			display: block;
			padding: 1.25rem;
			overflow: scroll;
		}
	}

	&.has-error {

		input,
		textarea,
		select {
			border-color: var(--woo-rouge-color);
			box-shadow: 0 0 0 1px var(--woo-rouge-color);
		}
	}
}
