$components: (
	'error-color': $base-rouge-color,
);

.components-base-control {
	&__field {
		margin-bottom: 20px !important;
	}

	&__label {
		font-weight: 600 !important;
	}

	&__help {
	}

	&__error {
		color: map-get-strict($components, 'error-color');
	}
}

.components-form-token-field {
	&__input-container {
		&.has-error {
			border-color: map-get-strict($components, 'error-color');
		}
	}
}
