$table: (
	'border-color': $base-silver-color,
);

.details-table {
	display: grid;
	grid-template-columns: repeat(10, 1fr);
	width: fit-content;
	border-top: 1px solid map-get-strict($table, 'border-color');
	border-right: 1px solid map-get-strict($table, 'border-color');

	&__element {
		padding: 0.5rem 0.25rem;
		border-left: 1px solid map-get-strict($table, 'border-color');
		border-bottom: 1px solid map-get-strict($table, 'border-color');

		&--heading {
			font-weight: 600;
		}
	}
}
