$panel: (
	body-title-background: $base-dove-color,
);

.components-panel {
	$this: &;

	&__body {
		&.is-opened {
			#{$this}__body-title {
				background-color: map-get-strict($panel, 'body-title-background') !important;
				margin-bottom: 1.25rem !important;
			}
		}
	}

	&__columns {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-gap: 1.25rem;

		#{$this}__row {
			margin-top: 0;
		}
	}

	&__row {
		flex-direction: column;
		align-items: start;

		select {
			min-height: 2.69rem !important;
			padding: 0 1.5rem 0 0.75rem !important;
			min-width: 15.5rem;
		}

		#{$this}__item {
			margin-top: 1.25rem;
		}

		&--single {
			flex-direction: column;
			align-items: start;
		}

		&--top {
			justify-content: start;
		}
	}

	&__item {
		h4 {
			margin-top: 0;
		}
	}
}
