/* stylelint-disable */
/* stylelint-disable value-keyword-case */
/* stylelint-disable declaration-colon-newline-after */
.options-wrapper {
  display: grid;
  min-height: 400px;
  max-width: 1070px;
  height: auto;
  margin-top: 20px;
  grid-template-areas: 'label label label label label' 'content content content content content';
  grid-template-rows: -webkit-min-content -webkit-min-content;
  grid-template-rows: min-content min-content;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr; }
  .options-wrapper__tab {
    display: contents; }
  .options-wrapper__label {
    cursor: pointer;
    padding: 10px 20px;
    text-align: center;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    position: relative;
    margin-left: 0.5em;
    font-weight: 600;
    background: #E5E5E5;
    border: 1px solid #CCCCCC;
    transition-property: background;
    transition-duration: .05s;
    transition-timing-function: ease-in-out; }
    .options-wrapper__label::after {
      content: '';
      position: absolute;
      bottom: -1px;
      left: -0.6em;
      height: 1px;
      width: 0.6em;
      background-color: #CCCCCC; }
    .options-wrapper__label:hover {
      background-color: #FFFFFF; }
  .options-wrapper__input:checked + .options-wrapper__label {
    background: #F1F1F1;
    border-bottom: 1px solid #F1F1F1; }
  .options-wrapper__input {
    display: none !important; }
  .options-wrapper__content {
    grid-area: content;
    display: none;
    margin: 2em 0 1em; }
  .options-wrapper__input:checked ~ .options-wrapper__content {
    display: block; }

.content {
  display: grid;
  grid-template-rows: -webkit-min-content;
  grid-template-rows: min-content; }
  .content--two-columns {
    grid-template-areas: 'area area';
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 2em; }
  .content__item {
    display: grid;
    grid-template-rows: -webkit-min-content;
    grid-template-rows: min-content;
    grid-template-areas: 'label content';
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 1em;
    margin-bottom: 20px; }
    .content__item--one-column {
      grid-template-areas: 'content';
      grid-template-columns: 1fr; }
    .content__item--has-bottom-border {
      border-bottom: 1px solid #CCCCCC;
      padding-bottom: 20px;
      margin-bottom: 0; }
  .content__item-label {
    font-weight: 600;
    font-size: 15px;
    line-height: 1.5;
    margin-right: 2em; }
    .content__item-label--notice {
      font-weight: 400; }
    .content__item-label--heading {
      font-size: 18px; }
  .content__item-content--input {
    min-width: 75%; }
  .content__item-content--input-full {
    min-width: 100%; }
  .content__item-content--select {
    min-width: 100%; }
  .content__item-content--select-half {
    min-width: 50%; }

.content-wrapper {
  display: grid;
  grid-template-areas: 'aria aria';
  grid-template-rows: -webkit-min-content;
  grid-template-rows: min-content;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 2em; }

