.solo-api-options input {
  min-width: 500px;
  display: block;
}

.solo-api-options input[type="checkbox"] {
  min-width: auto;
  display: inline-block;
}

.solo-api-options textarea {
  min-width: 500px;
  display: block;
}

.solo-api-options .notice {
  padding: 10px;
}

.solo-api-options .caution {
  padding-bottom: 10px;
  color: #e43030;
}

.solo-api-options .option {
  margin-bottom: 20px;
}

.solo-api-options .subtitle {
  padding: 0;
  margin-bottom: 10px;
  line-height: 18px;
  display: block;
}

.solo-api-options .options-wrapper__tabs {
  padding-left: 10px;
  position: relative;
  z-index: 10;
}

.solo-api-options .options-wrapper__tabs .tab {
  font-weight: bold;
  font-size: 13px;
  display: inline-block;
  padding: 9px 14px;
  border: 1px solid #DDD;
  border-radius: 4px;
  border-bottom: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  position: relative;
  transition: background-color 300ms ease-in-out;
}

.solo-api-options .options-wrapper__tabs .tab:hover {
  background-color: #FFF;
  cursor: pointer;
}

.solo-api-options .options-wrapper__tabs .tab:after {
  content:"";
  position: absolute;
  bottom: -1px;
  left: 0;
  right: 0;
  height: 1px;
  background-color: transparent;
}

.solo-api-options .options-wrapper__tabs .tab.active{
  background: #FFF;
}

.solo-api-options .options-wrapper__tabs .tab.active:after {
  background-color: #FFF;
}

.solo-api-options .options-wrapper__content {
  border: 1px solid #DDD;
  border-radius: 4px;
  background: #FFF;
  padding: 20px;
  position: relative;
  min-height: 550px;
}

.solo-api-options .options-wrapper__content .tab-content {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  margin: 20px;
  visibility: hidden;
  transition: opacity 300ms ease-in-out, visibility 300ms ease-in-out;
}

.solo-api-options .options-wrapper__content .tab-content.active {
  opacity: 1;
  visibility: visible;
}

.solo-api-options .options-wrapper__content .tab-content .left,
.solo-api-options .options-wrapper__content .tab-content .right {
  display: inline-block;
  width: 48%;
  vertical-align: top;
}

.solo-api-options .options-wrapper__content .tab-content .right {
  padding-left: 20px;
}
